


*{
	border: 1px dotted yellow;
}

/*
.board {

position: relative;
width: 800px;
height: 800px;
margin-right:150px;


}

#score {

	font-size: 30px;
    text-align: right;
    
}

/*img {


width:800px;
height:800px;
position: absolute;

}
*/
/*
body {

	/*background-color: black; */


.duckbtn {

background-image: url("http://www.gifanimategratis.eu/img/animali/anatra/ducky.gif");
background-repeat: no-repeat;
background-position: center center;
background-color: transparent;
width:150px;
height:150px;
position: relative;


}